In [4]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [11]:
purchase = pd.read_excel('Master Data (Purchase).xlsx')
sales = pd.read_excel('Master Data (Sales).xlsx')
purchase.head()

,SKU,Product Name - English,Product Name - Chinese,Date of Purchase,Quantity of Order Placed,Quantity of Order Received
0,A001,Enoki Mushroom,金针菇,2018/01/01,120.0,120.0
1,A001,Enoki Mushroom,金针菇,2018/01/02,80.0,80.0
2,A001,Enoki Mushroom,金针菇,2018/01/03,50.0,50.0
3,A001,Enoki Mushroom,金针菇,2018/01/04,30.0,30.0
4,A001,Enoki Mushroom,金针菇,2018/01/05,100.0,100.0